#root {
  height: 100vh;
}

.landing__page,
.dashboard__page {
  background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).jpg");
  background-position: center;
  background-size: cover;
}

.dashboard__table {
  height: 47.5%;
  overflow: scroll;
  background-color: rgb(255, 255, 255, 0.6);
}

.table__header {
  height: 2rem !important;
  width: 25% !important;
  position: sticky !important;
  top: 0;
}

.table {
  margin-bottom: 0px !important;
}

.table__input {
  font-size: 1rem !important;
  height: 8rem !important;
}

.table__result {
  width: 25% !important;
}

.btn {
  width: 7rem;
  border-radius: 2rem;
}

.btn-mini {
  width: 4.25rem;
  height: 1.5rem;
  border-radius: 2rem;
  font-size: 0.75rem;
  box-shadow: 1px 1px #000000;
}

.btn:focus,
.btn-mini:focus,
.close:focus {
  outline: none !important;
  box-shadow: none !important;
}

.form-control:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

th {
  font-size: 0.75rem !important;
}

td {
  font-size: 0.75rem !important;
}

.icon {
  font-size: 1.75rem !important;
}

.no__job {
  background-color: rgb(255, 255, 255, 0.6);
}

form {
  height: 35% !important;
}

.form-group {
  height: 3rem !important;
  margin-bottom: 0 !important;
}

.form-control {
  width: 65% !important;
  height: 2rem;
}

.modal {
  background-color: rgb(0, 0, 0, 0.4);
}

.fadeIn {
  animation: 0.3s animationFadeIn ease-out !important;
  display: block;
}

.position,
.date {
  display: none;
}

@keyframes animationFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@media (min-width: 768px) {
  .position,
  .date {
    display: table-cell;
  }

  .table__header,
  .table__result {
    width: 16.5% !important;
  }

  html {
    font-size: 1.25rem;
  }

  .dashboard__user {
    width: 50% !important;
  }
}
