#root {
  height: 100vh;
}

.landing__page,
.dashboard__page {
  background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).jpg");
  background-position: center;
  background-size: cover;
}

.dashboard__table {
  overflow: scroll;
  background-color: rgb(255, 255, 255, 0.4);
}

.table__header {
  height: 2rem !important;
  position: sticky !important;
  top: 0;
}

.table__input {
  font-size: 1rem !important;
  height: 5rem !important;
}

.btn {
  width: 7rem;
  border-radius: 2rem;
}

.btn-mini {
  width: 4.25rem;
  height: 1.5rem;
  border-radius: 2rem;
  font-size: 0.75rem;
  box-shadow: 1px 1px #000000;
}

.btn:focus,
.btn-mini:focus {
  outline: none !important;
  box-shadow: none !important;
}

.form-control:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

th {
  font-size: 0.75rem !important;
}

td {
  font-size: 0.75rem !important;
}

.icon {
  font-size: 1.75rem !important;
}

.no__job {
  background-color: rgb(255, 255, 255, 0.6);
}

form {
  height: 30% !important;
}

.form-control {
  width: 65% !important;
}
