#root {
  height: 100vh;
}

.landing__page,
.dashboard__page {
  background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).jpg");
  background-position: center;
  background-size: cover;
}

.dashboard__table {
  overflow: scroll;
}

.table__header {
  height: 2rem !important;
  position: sticky !important;
  top: 0;
}

.table__input {
  height: 5rem !important;
}

.btn {
  width: 7rem;
  border-radius: 2rem;
}

.btn-mini {
  width: 5rem;
  height: 1.5rem;
  border-radius: 2rem;
}

.btn:focus,
.btn-mini:focus {
  outline: none !important;
  box-shadow: none !important;
}

.form-control:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

th {
  font-size: 2vw !important;
}

.icon {
  font-size: 4vw !important;
}

.no__job {
  background-color: rgb(255, 255, 255, 0.6);
}
